body {
    overflow: auto;
    z-index: 0;

    display: flex;
    flex-direction: column;

}


body > header {
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #FFFFFF;

    z-index: 9;
}

body > header h1 {
    text-align: center;
    

    /* display: inline-block; */

    width: 50%;
    margin: 0 auto;
    padding-bottom: 1.5%;

    width: 50%;

    margin-left: auto;
    margin-right: auto;

    /* height: 50%; */


    font-family: Andada;
}

header h1 a {
    font-size: 115%;
    color: black;
    text-decoration: none;
}


header li {
    list-style-type: none;
}

body > header .menuIcon {
    float: left;
    padding-left: 5%;
}

body > header .userIcon {
    float: right;

    padding-right: 5%;
}

body > header .searchIcon {
    float: right;

    padding-right: 5%;
}

body > header .shopIcon {
    float: right;

    padding-right: 4%;
}

body > header .overlay > .popup {
    background-color: white;

    position: absolute;
    z-index: 10;

    top: 0px;
    left: 0px;

    width: 75%;
    height: 100%;

    margin-left: -80%;
}

body > header .overlay {
    font-family: Andada;
}

body > header .overlay h2 {
    margin-top: 3%;
    margin-left: 5%;

    margin-right: 15%;

}

body > header .overlay a {
    margin-left: 5%;

    color: black;

    font-size: 94%;

    display: block;

}

body > header .overlay i {
    float: right;

    padding-right: 5%;

    color: black;
}

body > header .overlay hr {
    color: #A9A9A9;
    background-color: #A9A9A9;
}

body > header .overlay .exitMenu {
    float: right;

    padding-top: 9%;
    padding-right: 5%;
}

body > header .overlay #collapseShop li, body > header > .overlay #collapseValues li {
    list-style-type: none;
}

header i {
    color: black;
}

header input[type="text"] {
    position: absolute;
    
    margin-left: -60%;
    margin-top: 20%;
    left: 0;
    top: 0;
}

main img {
     width: 100%;
   
}



footer {
    width: 100%;

    font-family: Andada;

    margin-top: auto;
}

footer > .footerSmallWidth > .customerCare, footer > .footerSmallWidth > .info, footer > .footerSmallWidth > .followUs {

    padding-bottom: 4%;
    padding-top: 4%;
}

footer > .footerSmallWidth > .customerCare {
    border-top: 1px solid #A9A9A9;
}

footer > .footerSmallWidth > .info {
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
}

footer > .footerSmallWidth > .info #collapseSecond ul a {
    display: block;
}

footer > .footerSmallWidth > .followUs {
    border-bottom: 1px solid #A9A9A9;
}

footer > .footerSmallWidth > ul li a {
    font-size: 125%;
    padding-left: 2%;
    color: black;
    text-decoration: none;
}

footer > .footerSmallWidth > ul i {
    float: left;
    padding-right: 2%;
}

footer a:visited, footer a:link {
    color: black;
}

footer > .footerSmallWidth > .customerCare > a > i, footer > .footerSmallWidth > .info > a > i, footer > .footerSmallWidth > .followUs > a > i {
    font-size: small;
    padding-left: 1%;
}

footer > .footerSmallWidth > .followUs {
    margin-bottom: 5%;
}

footer > .footerSmallWidth li {
    list-style-type: none;
}

footer > .footerSmallWidth > .followUs ul i {
    float: left;
    padding-right: 1%;
}


footer > .footerSmallWidth > .finalInfo {
    padding-left: 12%;
}

footer > .footerSmallWidth > .finalInfo > p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 70%;
}

footer > .footerSmallWidth > .finalInfo > p:first-child {
    margin-top: 12%;
    font-size: 120%;
}

footer > .footerSmallWidth > .finalInfo > p:last-child {
    margin-bottom: 12%;
}

/* CSS for input forms in login-client.php */

main {
    font-family: Andada;
}

.loginForm, .signUpForm{
    margin-left: 2%;

    width: 100%;
    height: 100%;
    line-height: 100%;

    margin-top: 3%;
    margin-bottom: 3%;
}

.container {
    margin-top: 3%;
    margin-bottom: 3%;
}

main h2 {
    margin-left: 10%;
}

form li{
    list-style-type: none;
}

.userInput, .passInput {
    position: relative;
}


label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s;
    cursor: text;

    margin-top: 3%;

}

form input[type="text"], form input[type="password"] {
    width: 55%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;

    margin-top: 2%;


}

input[type="text"]:focus~label {
  font-size: 14px;
  top: -24px;
}

#password:focus~#passLabel,
#password:valid~#passLabel {
    font-size: 14px;
    top: -24px;
}

input[type="submit"] {
    background-color: black;
    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 120%;

    padding: 1% 4%;

}

.buttonContainerLogIn, .buttonContainerSignUp {
    margin-top: 2.5%;
    margin-left: 5%;
}

/* CSS for clothes line  */

#filterButton {
    padding: 0.5% 2%;
}

#clothesFilter, #sexFilter {

    font-size: 115%;
    padding: 1% 0.5%;

    border-color: #d3d3d3;
}

section > .grid-container > .grid-item a {
    color: black;
    text-decoration: none;
}

/* CSS for information panels */

.usaPar p, .europePar p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 6%;
}

.europePar {
    margin-top: 8%;
    margin-bottom: 5%;
}

.shippinTitle p, .shippinDesc p {
    margin-left: 5%;
}

.returnDesc1 p, .returnTitle1 p {
    text-align: center;
}

.returnTitle2 p, .returnDesc2 p {
    margin-left: 2%;
}

/* CSS for values Pages */

.partnersPage p, .ethicsPage p{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.partnersTitle1 p, .partnersTitle2 p{
    font-size: 115%;
} 

.ethicsTitle1 p {
    margin-top: 2%;
}

/* CSS for cart overlay */

#exitCart {
    top: 0;
    left: 0;
    margin-left: 4%;
    margin-top: 6%;
}

.cartImg img{
    width: 40%;
    margin-left: 4%;
    /* margin-bottom: 2%; */
    margin-top: 2%;
}

.cartImg {
    margin-bottom: 3%;
}

.cartP {
    display: inline-block;
}

.cartP p {
    margin: 0 0;
}

.deleteItem i {
    right: 0;
}

.deleteItem {
    margin-left: 10%;
    display: inline-block;
}

.buyButton {
    margin-left: 4%;
    margin-bottom: 5%;
}

/* CSS for notifications page */

.notParag p{
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    
}

.deleteNot input[type="submit"]{
float: left;
}

@media screen and (min-width: 769px) {
    .footerSmallWidth {
        display: none;
    }
    .completeOverlay {
        display: none;
    }

    .footerLargeWidth {
        padding-top: 3%;
        padding-bottom: 7%;
    }

    .footerLargeWidth .col-sm a {
        display: block;
    }

    .footerLargeWidth .col-sm .footerHeader {
        font-size: 135%;
    }

    header h1 {
        font-size: 175%;
    }

    .longWidthHeader a {
        display: inline-block;
        
        padding-right: 1%;
        padding-left: 1%;
        
        color: black;

        font-family: Andada;

    }

    .longWidthHeader .col-3 {
        margin-left: 0;
        margin-right: 0;
    }

    #collapseShopLarge, #collapseValuesLarge {
        position: absolute;
        display: initial;

        z-index: -1;


        top: 0px;
        left: 0px;

        margin-top: -20%;

        width: 100%;
        height: 30%;

        background-color: white;


    }

    /* Draw Line for login form only if in widescreen */

    #leftColumn {
        border-right: 2px solid #d3d3d3;
    }

    /* Draw columns for products */

    body .grid-container {
        display: grid;

    
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
        
        justify-content: center;

        grid-gap: 1% 2%;

    }

    body .grid-container img {
        height: 75%;
    }

    body .grid-container p {
        margin-top: 0;
        margin-bottom: 0;
    }

    body .grid-container p:nth-child(3), 
    body .grid-container p:nth-child(4) {
        font-size: 90%;
    }

    #clothesFilter, #sexFilter {
        margin-left: 2%;
        margin-bottom: 1%;
    }

    /* CSS for single products */

    .singleProd img {
        float: left;
        clear: both;

        width: 75%;
    }

    section .singleProd p {
        margin-right: -5%;

        overflow: auto;
        display: block;
    }

    section .addToCart {
        margin-left: 5%;

        margin-bottom: 8%;
    }
    
    /* CSS information pages */

    .privacySettings, .termsSettings, 
    .sizeSettings > p {
        justify-content: center;
        margin-left: 12%;
        margin-top: 4%;
    }

    .sizeSettings img {
        width: 75%;
        height: 75%;
        margin-left: 12%;
        margin-right: 12%;
    }

    .sizeSettings > p {
        justify-content: center;
        font-size: 205%;
        margin-left: 47%;
        margin-right: 47%;
        margin-top: 4%;
    }

    .storesSettings img {
        width: 45%;
        height: 75%;
        margin-left: 5%;
    }

    .storesSettings p{
        margin: 0 0;
        margin-left: 5%;
    }

    .shippinImage img {
        width: 85%;
        margin-left: 4.5%;
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 768px){
    header h1 {
        font-size: 115%;
    }

    .footerLargeWidth{
        display: none;
    }

    .longWidthHeader {
        display: none;
    }

    /* CSS for login form */
    main .container-fluid {
        padding-left: 15%;
    }

    main input[type="text"] {
        margin-bottom: 8%;
        width: 175%;
    }

    main input[type="submit"] {
        margin-top: 4%;
    }

    main h2 {
        margin-bottom: 9%;
    }

    /* CSS to draw columns for products */

    body .grid-container {
        display: grid;

    
        grid-template-columns: 45% 45%;
        
        justify-content: center;

        grid-gap: 1% 2%;

        margin-bottom: 15%;
    }

    body .grid-container img {
        height: 75%;
    }

    body .grid-container p {
        margin-top: 0;
        margin-bottom: 0;
    }

    body .grid-container p:nth-child(3), 
    body .grid-container p:nth-child(4) {
        font-size: 90%;
    }

    #clothesFilter, #sexFilter {
        margin-left: 4%;
        margin-bottom: 5%;
    }


    /* CSS for single products */

    section .singleProd img {
        margin-bottom: 7%;
    }

    section .singleProd p {
        padding-left: 5%
    }

    section .addToCart {
        margin-left: 5%;

        margin-bottom: 8%;
    }

    /* CSS information pages */

    .privacySettings, .termsSettings {
        font-size: 95%;
        margin-left: 12%;
        margin-top: 4%;
    }

    .sizeSettings > p{
        justify-content: center;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 4%;
    }

    .storesSettings p{
        margin: 0 0;
        
    }

}